body {
    background-image: url('download1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2rem;
    /* color: black; */
}
.text{
    margin-top:1vw;
    font-size:2vw;
    /* color: black; */
}
.flicker {
    animation: flicker 0.1s infinite;
}

@keyframes flicker {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}
.img-alert{
    width:2vw;
    height:2vw;
}
/* .text{
    font-size:2vw;
    color: white;
} */
#alert {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    border-radius: 5px;
    display: none;
  }
 
.typewriter-text {
    display: inline-block;
    /* border-right: 2px solid black; */
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3.3s steps(40, end) , blink 0.75s step-end ;
    font-size: 1.5rem;
    margin-top: 20px;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: black;
    }
}

/* Alert Box */
#alert {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    border-radius: 5px;
    display: none;
}

/* Responsive Design */
@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }

    .typewriter-text {
        font-size: 1.2rem;
    }
    .text{
        margin-top:1vw;
        font-size:5vw;
        /* color: black; */
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.2rem;
        margin-top: 30%;
    }

    .typewriter-text {
        font-size: 1rem;
    }
}
#trigger {
    padding: 10px 20px;
    /* background-color: #008CBA; */
    color: white;
    cursor: pointer;
  }